<header>
    <a href="/">
        <img src="/images/logo.png" alt="Celestial Gatherings Logo" class="logo">
    </a>
    <div class="user-nav">
        <% if (!user) { %>
            <a href="/user/signup">Sign Up</a>&nbsp; | &nbsp;
            <a href="/user/login">Log In</a>
        <% } else { %>
            <a href="/events/new">New Event</a>&nbsp; | &nbsp;
            <a href="/user/profile"><%= user.firstName %>'s Profile</a>&nbsp; | &nbsp;
            <a href="/user/logout">Log Out</a>
        <% } %>
    </div>
</header>



